@import "tailwindcss";
@import "tw-animate-css";
@import "@liveblocks/react-comments/styles.css";

@theme inline {
  --color-primary-black: #14181F;
  --color-primary-green: #56FFA6;
  --color-primary-grey-100: #2B303B;
  --color-primary-grey-200: #202731;
  --color-primary-grey-300: #C4D3ED;
}

* {
  font-family:
    work sans,
    sans-serif;
}

body {
  overflow: hidden;
}

@layer utilities {
  .no-ring {
    @apply outline-none ring-0 ring-offset-0 focus:ring-0 focus:ring-offset-0 focus-visible:ring-offset-0;
  }

  .input-ring {
    @apply h-8 rounded-none border-none bg-transparent outline-none ring-offset-0 focus:ring-1 focus:ring-primary-green focus:ring-offset-0 focus-visible:ring-offset-0;
  }

  .right-menu-content {
    @apply flex w-80 flex-col gap-y-1 border-none bg-primary-black py-4 text-primary-grey-300;
  }

  .right-menu-item {
    @apply flex justify-between px-3 py-2 hover:bg-primary-grey-200;
  }
}